<%= provide :title, t(:home) %>
<div class="center jumbotron">

<h1><%= t :main %></h1>
<p>
    <%= t :hello %>
  </p>
  <%= link_to t(:sign_up_now), signup_path, class: "btn btn-lg btn-primary" %>
  </h2>
</p>
